@import "menu.css";
@import "forms.css";
@import "slideshow.css";
@import "table.css";
@import "who-is-us.css";
@import "reviews.css";
@import "gallery.css";
@import "footer.css";
@import "services.css";
body {
  margin: 0;
}
header {
  background-color: rgba(16, 31, 62, 0.9);
}
h1,
h2,
h3,
h4 {
  font-family: "Droid Serif";
}
a {
  font-family: "Oswald Light";
}
h2 {
  color: white;
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
button {
  border: none;
}
.box-wide {
  width: 90%;
  margin: auto;
  max-width: 120rem;
}
.align-left {
  float: right;
  text-align: left;
}
.align-left .divider {
  float: right;
  margin-top: 1rem;
}
.black {
  color: black;
}
.hero-container {
  position: relative;
}
.hero-title {
  position: absolute;
  top: 20rem;
  left: 4rem;
}
.overlay {
  position: absolute;
  background-color: #101f3e;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85vh;
}
.logo {
  position: absolute;
  top: 1rem;
  left: 4rem;
  width: 12rem;
}
.small-logo {
  position: absolute;
  left: 7rem;
  width: 4.8rem;
}
.hero-title h1 {
  font-size: 3rem;
  width: 20rem;
  color: white;
}
.divider {
  width: 5rem !important;
  height: 0.3rem;
  background-color: #b2a289;
  margin-bottom: 0.5rem;
}
.right-text {
  width: 25rem;
  position: absolute;
  right: 4rem;
  top: 15rem;
}
.right-text h2 {
  border-top: 0.2rem solid #b2a289;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  padding-top: 1rem;
  font-style: italic;
}
.buttons-contaner {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.buttons-contaner button {
  float: initial;
  color: #101f3e;
  background-color: #b2a289;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
}

/* overview gallery */

.overview-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}
.overview-item:nth-child(odd) {
  background-color: rgba(16, 31, 62, 0.1);
}

.overview-item img {
  width: 45%;
  object-fit: contain;
}
.overview-item div {
  width: 45%;
}
.overview-item button {
  float: initial;
  color: white;
  background-color: #b2a289;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.overview-item li {
  list-style: none;
  font-size: 1.2rem;
  margin-left: 1.2rem;
}
.overview-item p {
  font-size: 1.2rem;
}
.overview-item li::before {
  content: "\2022";
  color: #b2a289;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.overview-item .divider {
  margin-bottom: 0.5rem;
  height: 0.2rem;
}
.overview-item h3 {
  margin-bottom: 1.5rem;
}

/* booking page */

.a {
  align-items: center;
  text-align: right;
}
.a h3 {
  text-align: -webkit-right;
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .hero-title h1 {
    font-size: 2.5rem;
  }
  .right-text h2,
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }

  .slider img {
    height: 50vh;
  }
  .right-text {
    top: 20rem;
  }
  .introduction-card {
    width: 13rem;
  }
  .read-more-details div {
    width: 50%;
  }
  .introduction-card h3 {
    font-size: 1.2rem;
  }
  .overview-item {
    margin: 2rem 0;
  }
  .overview-item .divider {
    margin-bottom: 0;
  }
  .overview-item h3 {
    margin: 0.7rem 0;
  }
}
