.menu {
  display: flex;
  justify-content: flex-end;
  /* background-color: #101f3e; */
  align-items: center;
  height: 4rem;
  width: 100%;
}
.menu-item {
  position: relative;
  height: 100%;
  display: flex;
}

.menu-item-header {
  font-size: 1.3rem;
  padding: 6px 14px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
}
.menu-item-header:hover {
}
.menu-item-btn {
  border-radius: 0 3px 3px 0;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px;
  margin-left: -10px;
  position: relative;
  background-color: transparent;
}
.menu-item-btn:hover {
}
.menu-item-header:active,
.menu-item-header:focus,
.menu-item-btn:active,
.menu-item-btn:focus {
  outline: none;
}
.btn-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  position: relative;
  top: 10px;
  pointer-events: none;
}
.dropdown-menu {
  position: absolute;
  z-index: 2;
  display: none;
  min-width: 160px;
  background-color: rgba(16, 31, 62, 0.9);
  top: 4rem;
  right: 0;
  margin-top: 0;
  padding-left: 0;
}
.dropdown-menu a {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
.dropdown-menu a li {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: right;
}

.menu-item.active .dropdown-menu {
  display: block;
}
@media only screen and (max-width: 768px) {
  .burger-menu {
    display: none;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    right: 5rem;
  }
  .burger-menu-item {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    opacity: 1;
    display: block;
    color: white;
  }
  .open .burger-menu-item:first-child {
    transform: rotate(-45deg) translate(-7px, 7px);
  }
  .open .burger-menu-item:nth-child(2) {
    opacity: 0;
  }
  .open .burger-menu-item:last-child {
    transform: rotate(45deg) translate(-7px, -7px);
  }
}
