.reviews-container {
  position: relative;
}
.reviews-container .box-wide {
  padding-top: 3rem;
}
.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;
}
.reviews div {
  height: auto;
  width: 15rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-right: 1rem;
  min-height: 20rem;
  min-width: 15rem;
}
.reviews h3 {
  font-size: 1.3rem;
  border-bottom: 0.1rem solid #b2a289;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.reviews p {
  font-size: 1rem;
  text-align: center;
}
