.introduction {
  position: relative;
}

.introduction-hero-container {
  position: absolute;
  z-index: -1;
}
.introduction-hero {
  width: 100vw;
  height: 35rem;
  object-fit: cover;
  max-width: 100%;
}
.introduction-hero-container .overlay {
  height: 35rem;
}
.introduction-card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-top: 5rem;
}
.introduction-card {
  height: auto;
  width: 15rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
}
.introduction-card img {
  width: 5rem;
  height: 5rem;
  margin: auto;
  display: block;
  margin-top: 2rem;
}
.introduction-card h3 {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 3rem;
}
.introduction-card button {
  display: block;
  margin: auto;
  background-color: transparent;
  color: black;
  float: initial;
  padding: 5rem 0 3rem 0;
}
