.introduction {
  position: relative;
  padding-top: 4rem;
  margin-bottom: 6rem;
}

.introduction-hero-container {
  position: absolute;
  z-index: -1;
  top: 0rem;
}
.introduction-hero {
  width: 100vw;
  height: 35rem;
  object-fit: cover;
  max-width: 100%;
}
.introduction-hero-container .overlay {
  height: 35rem;
}
.introduction-card-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-bottom: 3rem;
}
.introduction-card {
  height: auto;
  width: 15rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
}
.introduction-card img {
  width: 6rem;
  height: 6rem;
  margin: auto;
  display: block;
  margin-top: 2rem;
}
.introduction-card:nth-child(3) .read-more-details img {
  width: 50%;
  height: auto;
  display: block;
}
.introduction-card h3 {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 3rem;
}
.read-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: transparent;
  color: black;
  float: initial;
  margin: 4rem auto 1rem auto;
  padding: 0 1rem;
  position: relative;
  font-size: 1.2rem;
}

.read-more-details {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  top: 104%;
  width: 85%;
  padding: 2rem;
  left: 5rem;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.2rem solid #b2a289;
}
.active .read-more-details {
  display: flex;
}
.active .read-more-btn {
  text-decoration: underline;
}
.active .read-more-btn::after {
  content: "";
  position: absolute;
  left: 42%;
  top: 170%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.9);
  clear: both;
}
.read-more-btn:hover {
  background-color: transparent;
}
.read-more-details div {
  font-size: 1.2rem;
  padding: 1rem;
}
.read-more-details img {
  display: none;
}
.read-more-details:nth-child(3) img {
  display: block !important;
  width: 50%;
  object-fit: contain;
}
.read-more-arrow {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2f2f2f;
  transform: rotate(180deg);
  pointer-events: none;
  margin-left: 0.3rem;
}
.active .read-more-arrow {
  transform: rotate(0deg);
}
.read-more-details:last-child {
  font-size: 1.2rem;
}
#what-offer {
  margin-top: 10rem;
}
